@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
  height: 100%;
  color: #939598;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
}

body {
	font-size: 16px;
}

h1{
  color: #A6CE39;
  margin-bottom: 30px;
  font-size: 250%;
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  text-transform: uppercase;
  color: #338caf;
  font-size: 2em;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}


h4{
  color: #FFF;
}

p{
  font-size: 120%;
  line-height: 1.2;
}

li{
  font-size: 22px;
}


.button-container{
  display: block;
  margin: 40px 0;
}

.custom-button{
  margin-top: 15px;
  padding: 10px 15px;
  background: #e47d00;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  display: inline !important;
}

.custom-button:hover,
.custom-button:focus{
  background: #FFF;
  color: #e47d00;
  text-decoration: none;
}

.pad-section {
  padding: 20px 0;
}

.inner-section{
  padding: 50px 0 0 0;
}

.centered {
  
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
}

.white{
  color: #FFF;
}

.green{
  color: #A6CE39;
}

.blue{
  color: #338caf;
}

.orange{
  color: #e47d00 !important;
}

.navbar{
  background-color: #338caf;
  border: none;
}

ul.nav li a,
.navbar-brand{
  color: #FFF !important;
  text-transform: uppercase;
}

.last-date-info{  
  vertical-align: top;
}

#home {
  background: url(../images/IMG_2924.jpg) no-repeat center center fixed;
  background-size: 100% 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  line-height: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home p{
  color: #FFF;
}



#home .date{
   padding: 1vw;
   box-shadow: 1.5px 1.5px 2.5px #888;
   width: 30%;
   height: 700%;
   text-align: center;   
   clear: both;
   border: 2px solid #eee;   
   margin: 0 auto;
   margin-bottom: 5vw;
}

#dates {
	height: 400%;
}



#home .day{
  color: #e47d00;
  font-size: 9vw;
  line-height: 1.2;
  margin-top: auto;
}

#home .month{
	padding-top: 1vw;
  font-size: 3vw;
  text-align: center; 
}

#home .texniki_tur{
  font-size: 2vw;
  text-align: center; 
  color: #917334;
}


.fev {
	background color: #FFF;
}

#when {
  display: block;
  min-height: 800px;
  height: auto;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#when .day{
  color: #e47d00;
  font-size: 3vw;
  line-height: 2vw;
  margin-top: 0.15vw;
}


#when .date{
   padding: 0.75vw;
   width: 5vw;
   height: 5vw;
   text-align: center;   
   clear: both;
   border: 1px solid #eee; 
   border-radius: 100%;  
   margin:  auto;
   margin-bottom: 5px;
   background-color: white;
}


#when .gundelik {
	border-radius: 2.5vw;
	width: 83%;
	text-align: center;
	margin-left : 8%;
	font-size: 2.1vw;
}


#when .gmetn {
	text-align: center;
	padding: 1.5vw;
}

#when .month{
	font-size: 0.8vw;
	text-align: center; 
	padding: 0.75 vw;
}

#when {
	background-color: #FFF;
	height: auto;
	position: relative;
}




.odd {
	background-color: #f8f8f8;
} 



#who, #why, #where, #when,
#where #map{
    min-height: 900px;
    height: auto;  
  }


 .istirakcilar {
	height: 50px;
	text-align: center;
	margin: auto;
}

.back_pic {
	border: 1px solid #eee;
	width: 20vw;
	height: 20vw;
	border-radius: 100%;
}

#akorkmaz {
	background: url(../images/akorkmaz.jpg) no-repeat center center; 
	width: 20vw;
	height: 20vw;
}

#register{
  z-index: 99999;  
  margin: 10px;  
  overflow: hidden;  
  margin: -4px;
  line-height: 80px;
}

#register #register-container{
  position: relative;
  width: 130px;
  height: 105px;  
  overflow: hidden;
  float: left;
}

#register .register-message{
  vertical-align: top;
  line-height: 19px;  
}

#register .register-message a{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#register #register-container iframe{
  position: absolute;
  top: -10px;
  left: -10px;
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}



#where{
  height: 300px;
  position: relative;
  display: block;
}

#where #map{
  height: 300px;
}

#where .title{
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 1000;
  width: 100%;
}

#where .title h2{
  text-align: center;
}

#results {
  background: url(../images/istirakcilar.jpg) no-repeat center center fixed; 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: auto;
  line-height: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#results table{
  color: #FFF;
  font-size: 20px;
}

#results table thead tr{
  font-size: 25px;
}

#results a{
  color: #e47d00;
  text-decoration: none;
}

#results a:hover{
  color: #FFF;
}

.mresult{
	width: 70%;
	margin: auto;
	padding: 2vw;
	height: 4vw;
	background-color: #eee;
}

.underline {
	border-bottom: 1px solid #eee;
	width: 40vw;
	margin-top: 5%;
}


#why {
  background-color: #338caf;
  color: #FFF;
  min-height: 330px;
  height: auto;
  
}

#why table {
	
	text-align: center;
	width: 80%;
	margin: auto;
	border: 1px solid #eee;
	
}


#why td {
	color: #d6d6d6;
	font-size: 4vw;
	margin: auto;
	padding: auto;
}

#why .h2 {
	margin: 4vw;
}

 tr .first {

 	text-align: left;
 	border-right: 1px solid #eee;
 	
 }
 
 #why .metn {
 	padding: 10px;
 	font-size: 4vw;
 	
 }

#why li {
 	padding: 0.1vw;
 	font-size: 4vw;
 	
 }

#sponsors {
  background-color: #e47d00;
  color: #FFF;
  min-height: 330px;
  height: auto;
}

#who{
  background-color: #A6CE39;
  color: #FFF;
  height: auto;
}


#who table {
	
	text-align: center;
	width: 80%;
	margin: auto;
	border: 1px solid #eee;
	font-size: 12px;
	
}



#who td {
	color: #d6d6d6;
	font-size: 4vw;
	margin: auto;
	padding: auto;
}

#who .h2 {
	margin: 4vw;
}

 
 
 
#who .metn {
 	padding: 10px;
 	font-size: 4vw;
 	
 }

#who li {
 	padding: 0.1vw;
 	font-size: 4vw;
 	
 }









#git{
  background-color: #A6CE39;
  color: #FFF;
}

footer {
  height: 40px;  
  background: #e47d00;
  padding-top: 6px;
}

footer p{
  color: #FFF;
  font-size: 16px;
}

dates{
    text-align: center;
     
    list-style-type: none;
    
}



@media(min-width: 768px){

	.underline {
	border-bottom: 1px solid #eee;
	width: 20vw;
	margin-top: 5%;
	}
	
	

	#why .th{
	text-align:center;
	font-size: 2vw;
}

	#why td {
	color: #d6d6d6;
	font-size: 1.5vw;
	margin: auto;
	padding: auto;
}

	#why .h2 {
	margin: 4vw;
}

	tr .first {

 	text-align: left;
 	border-right: 1px solid #eee;
 	
 }
 
 	#why .metn {
 	padding: 10px;
 	font-size: 1.5vw;
 	
 }

	#why li {
 	padding: 0.1vw;
 	font-size: 1.5vw;
 	
 }

	h1{
    font-size: 500%;
  }

	h2{
    font-size: 400%;
  }

	#who table{
  font-size: 12px;
}

	#who table {
	
	text-align: center;
	width: 60%;
	margin: auto;
	border: 1px solid #eee;
	
}

	#who .th{
	text-align:center;
	font-size: 2vw;
}

	#who td {
	color: #d6d6d6;
	font-size: 1.5vw;
	margin: auto;
	padding: auto;
}

	#who .h2 {
	margin: 4vw;
}

	#who .metn {
 	padding: 10px;
 	font-size: 1.5vw;
 	
 }

	#who li {
 	padding: 0.1vw;
 	font-size: 1.5vw;
 	
 }
 
	#home .date{
   padding: 1vw;
   box-shadow: 1.5px 1.5px 2.5px #888;
   width: 100%;
   height: 700%;
   text-align: center;   
   clear: both;
   border: 2px solid #eee;   
   margin: 0 auto;
   margin-bottom: 5vw;
	}

	#dates {
	height: 400%;
}

	#home .day{
  color: #e47d00;
  font-size: 9vw;
  line-height: 1.2;
  margin-top: auto;
}

	#home .month{
	padding-top: 1vw;
  font-size: 3vw;
  text-align: center; 
}

	#home .texniki_tur{
  font-size: 2vw;
  text-align: center; 
  color: #917334;
}


#home {
    background: url(../images/IMG_2924.jpg) no-repeat center center fixed;
    background-size: 100% 100%;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    line-height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


}









 
 

  #why .container,
  #who .container,
  #sponsors .container,
  #resources .container{
    padding-top: 50px;
    padding-bottom: 50px
  }



}

/* iframe styling */
iframe.highlight{
  background: none !important;
}